# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\biancheng\projects\note\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
